

body {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
}

.container {
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-color: skyblue;
    padding-top: 2em;
}
.input-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-area #comment-name {
    margin: 1em;
}

.input-area .body-block {
    margin: 1em;
    max-width: 60%;
    width: 400px;
    height: 100px;
}

.input-area .body-block #comment-body {
    /* margin: 1em; */
    width: 100%;
    height: 100%;
}

.container h2 {
    margin-top: 0;
}

.comment-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-list {
    width: 80%;
    padding: 0;
}

.comment-list li {
    list-style-type: none;
}

.comment-list .comment {

    bordeR: 1px solid black;
}